.carousel-control.left {background-image: none; color: black}
.carousel-control.right {background-image: none; color: black}
.item {height: 400px;}
.home-carousel {border: 1px solid @blue; overflow: hidden; margin: 30px 0 30px 0}