.img-left {float:left; margin-right: 10px; margin-bottom: 10px;}
.img-right {float:right; margin-left: 10px; margin-bottom: 10px;}
.img-half {width: 50%; height:auto}
.img-full {width: 100%; height:auto}
.img-40 {width: 40%; height:auto}
img {max-width: 100%; height: auto;}

p {line-height: @line-height-computed*1.2}

// @media(max-width: @screen-xs) {
// 	img {margin: -15px}
// }