//Sidebar Forms Home
.home-form {font-size: 25px; text-align:center}
.home-form {min-height: 160px; border: 1px solid @blue; border-radius: 15px; overflow:hidden; margin:20px 10px;}
.home-forms {margin-top: 45px}
.issue-name {font-size: 20px; text-transform: uppercase; color: @blue; margin-top: 10px}
.horizontal-covers {margin-top: 25px; text-align: center;}
.horizontal-cover-single img {box-shadow: 3px 3px 3px rgba(0, 0, 0, .4); width: 90%; margin: 0 auto}