.home-form {font-size: 25px; text-align:center}
.home-form {min-height: 160px; border: 1px solid @blue; border-radius: 15px; overflow:hidden; margin:20px 10px;}
.home-forms {margin-top: 45px}

.issue-name {font-size: 20px; text-transform: uppercase; color: @blue; margin-top: 10px}

// .previous-issues {color: white; padding: 7px; background-color: @gray; border-radius: 10px;}

// .previous-issues {margin-left: 40px; margin-right: 40px}

// .horizontal-covers {
//   background-image:
//     linear-gradient(
//       to bottom, 
//       #fff,
//       #fff 30%,
//       @blue 30%,
//       @blue 50%,
//       #fff 50%
//     );
// }