@media(min-width:@screen-sm) {
	h1.entry-title {margin-top: 85px}
	.single .entry-content {margin-left:35px}
}
.category-byline {border: 1px solid @blue; border-radius: 15px; padding: 2px 20px 2px 150px; margin-right: 20px}
.byline-content {margin-top: 20px;}

// Single Posts Pages
.single .article header {margin-left: -45px}
.single-header-fork {float:left; margin-top:-25px; width: 100px; height: auto; margin-right: 15px}
h1.entry-title {color: @dark-green; text-transform: uppercase; padding-bottom: 15px; font-size: 28px; font-weight: 300; margin-right: 40px}
.article header {margin-bottom: 42px}
h4 {line-height: 24px}
.single .article .category-byline {margin-left: -25px}
.single .article .entry-title {border-bottom: 1px solid @blue}
.single article {clear:both}
h4.subhead{text-align:right; color: @blue; font-weight: 300}
.single article {margin-right: 20px}

// Archive Posts Page
.bottom-posts h2 {color: white; margin: 5px 0 5px 15px}
.bottom-posts {background-color: @blue; padding: 5px;}
.bottom-posts img {float:right; margin-top: -100px; margin-right: 10px}
.archive article, .blog article {margin: 40px auto}
.latest-post-thumbnail img {width: 100%}
.latest-post-thumbnail {width: 175px; height: 175px; overflow: hidden; float: left; margin: 10px 15px 0 0}

//wp_link_pages
.page-nav {font-size: 18px; text-align:center; margin: 10px auto}
.page-nav li {display:block; float:left; margin: 5px;  width: 40px; height: 40px; border: 1px solid @blue; text-align:center; padding-top: 6px }
.page-nav li:hover {background-color: fade(@blue, 60%)}
.page-nav li {background-color: fade(@blue, 10%)}
.page-nav li {transition: background-color .2s ease;}
.page-nav a {width: 40px; height: 40px;}
.page-nav h4 {text-align: center; font-size: 18px; font-weight: 400; padding-bottom: 10px; border-bottom: 1px solid @light-green}
.page-nav ul {margin: 0 auto}